.header {
	text-align: center;
	border:1px solid black;
	background-color: #DCDCDC;
	padding: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 5px;
}
div.inline{
	margin-left: 150px;
}
body{
	background-image: url("https://d13yacurqjgara.cloudfront.net/users/247591/screenshots/2056282/btr-icon-pattern.png");
}
.outer-box1{
  padding: 1em;
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(100, 100, 100); 
  margin-top: 30px;
  width: 30%;
  text-align: center;
}
.outer-box2{
  padding: 1em;
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(100, 100, 100); 
  margin-top: 30px;
  width: 30%;
  text-align: center;
}
.outer-box3{
  padding: 1em;
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(100, 100, 100); 
  margin-top: 30px;
  width: 30%;
  text-align: center;
  position: fixed;
}
#left-box{
  float: left;
}
#mid-box{
	float: left;
	width: 20%;
	margin-left: 96px;
}
#right-box{
  float:right;
}
#box-container{
	margin: 0 20px;
  border-radius: 5px;
}
#buttons{
  margin-top: 10px;
  padding:18px;
  /*padding-left: 30px;*/
  border-radius: 5px;
}
img{
  margin-top: 18px;
}
#signup{
  border:1px solid black;
  padding: 6px;
  background-color: #E6E6FA;
}
#view{
  border:1px solid black;
  padding: 6px;
  background-color: #E6E6FA;
}
#viewRoles{
  border:1px solid black;
  padding: 6px;
  background-color: #E6E6FA;
}
#main-container{
  border: 1px solid black;
  text-align: center;
  background-color: #B0E0E6;
  margin-top: 10px;
  border-radius: 5px;
}
#formHeader{
  font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid black;
  width: 800px;
  padding: 10px;
  margin-top: 10px;
  background-color: #E0FFFF;
  border-radius: 5px;
}
.form-group{
  margin-top: 10px;
}