<!DOCTYPE html>
	<html>
		<head>
			<title>Act Spark</title>
			<link rel="stylesheet" type="text/css" href="style/style.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
		</head>
		<body>
			<div class="nav-container">
			    <div class="row nav-row">
			      <div class="col-md-12">
				<!--nav bar -->
				    <nav class="navbar navbar-default">
				      <div class="navbar-header">
				        <a href="/"><img src="https://images.cooltext.com/4792598.png" width="184" height="52" alt="ActSpark"/></a>
				      </div>
				      <div id="buttons" class="navbar navbar-right">
						<a id="signup" href="/form">Sign up</a><span> </span><span>|</span><span> </span><a id="view" href="/actors-actresses">View Actors/Actresses</a><span> </span><span>|</span><span> </span><a id="viewRoles" href="/roles">View Open Roles</a><span> </span><span>|</span><span> </span><a id="postRole" href="/create-role">Create a Role</a>
				      </div>
				    </nav>
			      </div> <!--col-md-12"-->
			    </div> <!--end row-->
  			</div> <!--end nav-container-->
  			<div id="userContainer" class="container">
  				<div id="image"></div>
  				</div>
  				<span id="etc"></span>
	    	<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
			<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
			<script type="text/javascript" src="act.js"></script>
			<script src="https:////cdnjs.cloudflare.com/ajax/libs/velocity/0.7.0/jquery.velocity.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/velocity/0.7.0/velocity.ui.min.js"></script>
		</body>
	</html>